* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
    overflow-y: scroll;
    scrollbar-color: white #051224;
}

html::-webkit-scrollbar {
    width: 16px;
}

html::-webkit-scrollbar-track {
    background: #051224;
}

html::-webkit-scrollbar-thumb {
    background-color: white;
}

.navbar {
  background-color: #051224;
  padding: 1rem;
  height: 85px;
}

.container {
  height: calc(100% - 85px);
  background-image: url("./assets/img/fade.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.MuiDataGrid-dataContainer {
  min-height: auto !important;
}
